.book-list {
    list-style: none;
    padding: 15px 0 0;
    display: block;
    gap: 10px;
    margin-top: 0;
}

.book-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    width: 100%;
}

.action-buttons{
    display: flex;
    flex-direction: column;
}

.action-buttons button {
    margin-bottom: 2em; 
}