.book-preview {
    display: contents;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-preview h4 {
    text-transform: capitalize;
    color: black;
}

.preview-info{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    /* justify-content: center;  */
    margin-left: 3em;
}

.book-preview img {
    width: 200px;
    height: 250px;
    align-self: flex-start;
    object-fit: cover;
    margin: 0;
}