.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15vh;
}

.content-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15vh;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15vh;
}
.book-details h1 {
    color: var(--clr1);
    font-size: 3em;
}

.book-details h2 {
    color: var(--clr1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 3em;
}

.book-details h5 {
    color: var(--clr2);
}
.book-details img {
    max-width: 400px;
    display: block;
    margin: auto;
}


